.apTimeFastHeader{
    -fx-background-color: #516e95;
    -fx-pref-width: 1360;
    -fx-pref-height: 75;
}

.lbTimeFastHeaderTitulo{
    -fx-text-fill: #DF9251;
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-pref-height:75;
}

.btnTimeFastHeader{
    -fx-background-color: none;
    -fx-font-size: 18;
    -fx-text-fill: #FFF;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
}

.btnTimeFastHeader:hover{
    -fx-border-style: none none solid none;
    -fx-border-width: 0 0 4 0;
    -fx-border-color:#C17B3D;
    -fx-cursor: hand;
}

.lbTimeFastTitulo{
    -fx-background-color: none;
    -fx-font-size: 24;
    -fx-text-fill: #5494CC;
    -fx-font-weight: bold;
    -fx-pref-height: 50;
}

.apTimeFastTitulo{
    -fx-background-color: #f7f2ed;
    -fx-pref-width: 300;
    -fx-pref-height: 55;
    -fx-background-radius: 10;
    -fx-border-color: #C17B3D;
    -fx-border-width: 0 0 5 0;
}

.apTimeFastBusqueda{
    -fx-pref-width: 1260;
    -fx-pref-height: 65;
    -fx-border-color: #C5E2FF;
    -fx-background-radius: 10;
    -fx-background-color: #FFF;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.tfTimeFastBusqueda{
    -fx-pref-width: 300;
    -fx-pref-height: 40;
    -fx-background-radius: 10;
    -fx-border-color: #C17B3D;
    -fx-border-radius: 10;
    -fx-font-weight:bold;
    -fx-font-size: 18;
    -fx-border-width: 2;
}

.btnTimeFastPrincipal{
    -fx-pref-width: 150;
    -fx-pref-height: 40;   
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-background-color: #C17B3D;
    -fx-text-alignment: right;
}

.btnTimeFastSecundario{
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-border-color: #C17B3D;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-text-fill: #C17B3D;
}

.tbTimeFast{
    -fx-pref-width: 1260;
    -fx-pref-height: 420;
    -fx-background-radius: 10;
    -fx-border-radius: 10px;
    -fx-border-color: #3F6F99;
    -fx-padding: 0.3em 0.1em 0.1em 0.3em;
}

.tbTimeFast .column-header .label{
    -fx-pref-height: 10;
    -fx-background-color: #3F6F99;
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-text-fill: #FFF;
    -fx-alignment: CENTER;
    -fx-font-size: 16;
}

.tbTimeFast .column-header, .table-view .filler {
    -fx-background-color: white; 
    -fx-border-color: #3F6F99;
    -fx-border-width: 0;
}

.tbTimeFast .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: #3F6F99;
    -fx-border-insets: 0;
}


